{
  "arrowParens": "avoid",
  "printWidth": 80,
  "semi": true,
  "singleQuote": true,
  "trailingComma": "es5",
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^@/components/.*$",
    "^@/lib/.*$",
    "^@/src/.*$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
